@model Animal.Db.Dog[]
@{
    ViewData["Title"] = "Feed your doge";
}

<div class="container">
    <div class="row">
        <div class="col-md-12 centered">
            <h3><span>Here are our doggies</span></h3>
            <p>Please help them.</p>
        </div>
    </div>
</div>

<div class="prices" data-stellar-background-ratio=".3" style="background-position: 0px 0px;">
    <div class="container">

        @foreach (var row in this.Model)
        {
            var sadImg = string.Format("/images/dogs/{0}_2.png", row.Name);
            var happyImg = string.Format("/images/dogs/{0}_1.png", row.Name);

            <text>
            <div class="col-md-4 costs">
                <div>
                    <span class="sponsor">
                        <img src="~/images/sponsors/@row.SponsorLogo" alt="@row.SponsorLogo">
                    </span>
                    <img src="@sadImg" alt="@row.Name" class="dog sad">
                    <img src="@happyImg" alt="@row.Name" class="dog happy">
                    <h4>@row.Name</h4>
                    <p class="per-night per-night-@(row.CurrentClickCount / 20)">@row.CurrentClickCount out of @row.TargetClickCount</p>
                    <a href="#" class="btn btn-default btn-green feed feed-@(row.CurrentClickCount)" data-id="@row.DogId">Feed now</a>
                </div>
            </div>
            </text>
        }

    </div>
</div>

@section scripts {
    <script type="text/javascript">
        $(function () {
            $(".costs .feed").click(function () {
                var dogId = $(this).attr('data-id');

                $.ajax({
                    type: "POST",
                    url: "/Doge/FeedDoge?dogid=" + dogId,
                    data: null,
                    success: function () {
                    }
                });

                return false;
            });

            $(".costs .feed").hover(
                function () {
                    var img = $('img.dog.happy', this.parentNode);
                    img.css('opacity', '1.0')
                },
                function () {
                    var img = $('img.dog.happy', this.parentNode);
                    img.css('opacity', '0.0')
                }
            );

        });
    </script>
}